<li class="todo-form" ...attributes>
  <div class="todo-form-action">
    {{#if this.todo.isNew}}
      &plus;
    {{else}}
      <Input @type="checkbox" @checked={{this.todo.done}} />
    {{/if}}
  </div>
  <form {{on "submit" this.save}}>
    <Input
      @value={{this.todo.task}}
      @insert-newline={{this.save}}
      @focus-out={{this.save}}
      class="todo-form-task"
      autocomplete="off"
    />
  </form>
</li>